<div class="eliminar-contenedor" style="border-radius: 15px; border: 7px solid lightslategray;">
    <h1 style="color:black ">ESTAS SEGURO QUE DESEAS ELIMINAR EL PROVEEDOR SELECCIONADO?</h1>
    <div class="botones">
        <button (click)="eliminarProveedor()" style="border: 3px solid lightslategray; border-radius: 10px; width :50%; padding: 20px; margin: 5px; " class="boton">SI</button>
        <button (click)="salir()" style=" border: 3px solid lightslategray; border-radius: 10px; width :50%; padding: 20px; margin: 5px;" class="boton">NO</button>
    </div>
</div>