<div style="width: 100%; height: 100vh; margin: 0; padding: 0;">
    <div (click)="mostrarCarrito()" (mouseleave)="ocultarTextoCarrito()"><span class="carrito-text"
            [ngStyle]="{display: despliegue}">VER</span></div>
    <div class="carrito">
        <img (click)="mostrarCarrito()" (mouseenter)="desplegarTextoCarrito()" height="50px"
            src="../../../assets/pagina-inicio/carro.png">
    </div>
    <app-header></app-header>

    <body id="cuerpo">
        <div>
            <div>
                <img style="width: 100%; border-top-left-radius: 20px; border-top-right-radius: 20px; background-size:cover;"
                    src="../../../assets/pagina-inicio/banner.png" alt="">
            </div>
        </div>
        <div id="cajon">
            <h1 id="title">RESULTADO</h1>
            <div class="contener-categoria" id="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto" *ngIf="filtrarProductos().length>0; else vacio">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarProductos() ; index as indice">
                            <div class="item">
                                <div (click)="verProducto(objeto.id)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p> {{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <ng-template #vacio style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                                    <img style="width: 10%;" id="foto"
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/2048px-Red_X.svg.png"
                                        alt="">
                                    <p> NO ENCONTRAMOS COINCIDENCIAS</p>
                                    <p class="precio">Probablemente el producto que buscaste no existe !</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </div>
            </div>


        </div>

    </body>
    <app-footer></app-footer>
</div>

<app-chat></app-chat>